<a href="https://colab.research.google.com/github/FatemaSamir/pyspark/blob/main/Fatema_Samir_Practical_Session_2_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 2 PySpark:

### Machine Learning

#### But first, let's do some SQL :)

**First, install and import PySPark and SparkSession**

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 33 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 51.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=d45c44e1bdcabcce0e9a6156ccee093ec753b0fdcd8bbf65fc57f0cdc97058d0
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
from pyspark.sql import SparkSession 
import pyspark.sql.functions as fn

**Now, download the dataset**

In [ ]:
!gdown https://drive.google.com/uc?id=1PB6wBDVTM_eocxOyi0lWlLBQOlH0rLe_ -O PatientInfo.csv

Downloading...
From: https://drive.google.com/uc?id=1PB6wBDVTM_eocxOyi0lWlLBQOlH0rLe_
To: /content/PatientInfo.csv
100% 489k/489k [00:00<00:00, 72.3MB/s]

**Create a SparkSession object and name the app "Lab2"**

In [ ]:
spark = SparkSession.builder.appName('Lab2').getOrCreate() # intery point
sc = spark.sparkContext

**1. Read the file PatientInfo.csv into a dataframe**

In [ ]:
df = spark.read.csv('/content/PatientInfo.csv',header=True)

In [ ]:
df.printSchema()

root
 |-- patient_id: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: string (nullable = true)
 |-- country: string (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- infected_by: string (nullable = true)
 |-- contact_number: string (nullable = true)
 |-- symptom_onset_date: string (nullable = true)
 |-- confirmed_date: string (nullable = true)
 |-- released_date: string (nullable = true)
 |-- deceased_date: string (nullable = true)
 |-- state: string (nullable = true)

**Show the first 5 lines of the dataframe**

In [ ]:
df.show(5)

+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|patient_id|   sex|age|country|province|       city|      infection_case|infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|   state|
+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|1000000001|  male|50s|  Korea|   Seoul| Gangseo-gu|     overseas inflow|       null|            75|        2020-01-22|    2020-01-23|   2020-02-05|         null|released|
|1000000002|  male|30s|  Korea|   Seoul|Jungnang-gu|     overseas inflow|       null|            31|              null|    2020-01-30|   2020-03-02|         null|released|
|1000000003|  male|50s|  Korea|   Seoul|  Jongno-gu|contact with patient| 2002000001|            17|              null|    2020-01-30|   2020-02-19|         null|released|
|1000000004|  male|20s|  Korea|   Seoul|    Mapo-gu|     overseas inflow|       null|             9|        2020-01-26|    2020-01-30|   2020-02-15|         null|released|
|1000000005|female|20s|  Korea|   Seoul|Seongbuk-gu|contact with patient| 1000000002|             2|              null|    2020-01-31|   2020-02-24|         null|released|
+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
only showing top 5 rows

**Now do the same but using SQL select statement**

1. Create a temporary view (table) called patients

In [ ]:
df.createOrReplaceTempView("patients")

2. Use SELECT statement to select all columns from the dataframe

In [ ]:
df2 = spark.sql('select * from patients')
df2.show()

+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|patient_id|   sex|age|country|province|        city|      infection_case|infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|   state|
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|1000000001|  male|50s|  Korea|   Seoul|  Gangseo-gu|     overseas inflow|       null|            75|        2020-01-22|    2020-01-23|   2020-02-05|         null|released|
|1000000002|  male|30s|  Korea|   Seoul| Jungnang-gu|     overseas inflow|       null|            31|              null|    2020-01-30|   2020-03-02|         null|released|
|1000000003|  male|50s|  Korea|   Seoul|   Jongno-gu|contact with patient| 2002000001|            17|              null|    2020-01-30|   2020-02-19|         null|released|
|1000000004|  male|20s|  Korea|   Seoul|     Mapo-gu|     overseas inflow|       null|             9|        2020-01-26|    2020-01-30|   2020-02-15|         null|released|
|1000000005|female|20s|  Korea|   Seoul| Seongbuk-gu|contact with patient| 1000000002|             2|              null|    2020-01-31|   2020-02-24|         null|released|
|1000000006|female|50s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000003|            43|              null|    2020-01-31|   2020-02-19|         null|released|
|1000000007|  male|20s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000003|             0|              null|    2020-01-31|   2020-02-10|         null|released|
|1000000008|  male|20s|  Korea|   Seoul|         etc|     overseas inflow|       null|             0|              null|    2020-02-02|   2020-02-24|         null|released|
|1000000009|  male|30s|  Korea|   Seoul|   Songpa-gu|     overseas inflow|       null|            68|              null|    2020-02-05|   2020-02-21|         null|released|
|1000000010|female|60s|  Korea|   Seoul| Seongbuk-gu|contact with patient| 1000000003|             6|              null|    2020-02-05|   2020-02-29|         null|released|
|1000000011|female|50s|  China|   Seoul|Seodaemun-gu|     overseas inflow|       null|            23|              null|    2020-02-06|   2020-02-29|         null|released|
|1000000012|  male|20s|  Korea|   Seoul|         etc|     overseas inflow|       null|             0|              null|    2020-02-07|   2020-02-27|         null|released|
|1000000013|  male|80s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000017|           117|              null|    2020-02-16|         null|         null|deceased|
|1000000014|female|60s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000013|            27|        2020-02-06|    2020-02-16|   2020-03-12|         null|released|
|1000000015|  male|70s|  Korea|   Seoul|Seongdong-gu|    Seongdong-gu APT|       null|             8|        2020-02-11|    2020-02-19|         null|         null|released|
|1000000016|  male|70s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000017|          null|              null|    2020-02-19|   2020-03-11|         null|released|
|1000000017|  male|70s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000003|          null|              null|    2020-02-20|   2020-03-01|         null|released|
|1000000018|  male|20s|  Korea|   Seoul|         etc|                 etc|       null|          null|              null|    2020-02-20|         null|         null|released|
|1000000019|female|70s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000021|          null|              null|    2020-02-20|   2020-03-08|         null|released|
|1000000020|female|70s|  Korea|   Seoul|Seongdong-gu|    Seongdong-gu APT| 1000000015|          null|              null|    2020-02-20|         null|         null|released|
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
only showing top 20 rows

In [ ]:
df.select('*').show()

+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|patient_id|   sex|age|country|province|        city|      infection_case|infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|   state|
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|1000000001|  male|50s|  Korea|   Seoul|  Gangseo-gu|     overseas inflow|       null|            75|        2020-01-22|    2020-01-23|   2020-02-05|         null|released|
|1000000002|  male|30s|  Korea|   Seoul| Jungnang-gu|     overseas inflow|       null|            31|              null|    2020-01-30|   2020-03-02|         null|released|
|1000000003|  male|50s|  Korea|   Seoul|   Jongno-gu|contact with patient| 2002000001|            17|              null|    2020-01-30|   2020-02-19|         null|released|
|1000000004|  male|20s|  Korea|   Seoul|     Mapo-gu|     overseas inflow|       null|             9|        2020-01-26|    2020-01-30|   2020-02-15|         null|released|
|1000000005|female|20s|  Korea|   Seoul| Seongbuk-gu|contact with patient| 1000000002|             2|              null|    2020-01-31|   2020-02-24|         null|released|
|1000000006|female|50s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000003|            43|              null|    2020-01-31|   2020-02-19|         null|released|
|1000000007|  male|20s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000003|             0|              null|    2020-01-31|   2020-02-10|         null|released|
|1000000008|  male|20s|  Korea|   Seoul|         etc|     overseas inflow|       null|             0|              null|    2020-02-02|   2020-02-24|         null|released|
|1000000009|  male|30s|  Korea|   Seoul|   Songpa-gu|     overseas inflow|       null|            68|              null|    2020-02-05|   2020-02-21|         null|released|
|1000000010|female|60s|  Korea|   Seoul| Seongbuk-gu|contact with patient| 1000000003|             6|              null|    2020-02-05|   2020-02-29|         null|released|
|1000000011|female|50s|  China|   Seoul|Seodaemun-gu|     overseas inflow|       null|            23|              null|    2020-02-06|   2020-02-29|         null|released|
|1000000012|  male|20s|  Korea|   Seoul|         etc|     overseas inflow|       null|             0|              null|    2020-02-07|   2020-02-27|         null|released|
|1000000013|  male|80s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000017|           117|              null|    2020-02-16|         null|         null|deceased|
|1000000014|female|60s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000013|            27|        2020-02-06|    2020-02-16|   2020-03-12|         null|released|
|1000000015|  male|70s|  Korea|   Seoul|Seongdong-gu|    Seongdong-gu APT|       null|             8|        2020-02-11|    2020-02-19|         null|         null|released|
|1000000016|  male|70s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000017|          null|              null|    2020-02-19|   2020-03-11|         null|released|
|1000000017|  male|70s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000003|          null|              null|    2020-02-20|   2020-03-01|         null|released|
|1000000018|  male|20s|  Korea|   Seoul|         etc|                 etc|       null|          null|              null|    2020-02-20|         null|         null|released|
|1000000019|female|70s|  Korea|   Seoul|   Jongno-gu|contact with patient| 1000000021|          null|              null|    2020-02-20|   2020-03-08|         null|released|
|1000000020|female|70s|  Korea|   Seoul|Seongdong-gu|    Seongdong-gu APT| 1000000015|          null|              null|    2020-02-20|         null|         null|released|
+----------+------+---+-------+--------+------------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
only showing top 20 rows

3. Limit the output to only 5 rows *using SQL commands*

In [ ]:
df3 = spark.sql('select * from patients limit 5')
df3.show()

+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|patient_id|   sex|age|country|province|       city|      infection_case|infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|   state|
+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|1000000001|  male|50s|  Korea|   Seoul| Gangseo-gu|     overseas inflow|       null|            75|        2020-01-22|    2020-01-23|   2020-02-05|         null|released|
|1000000002|  male|30s|  Korea|   Seoul|Jungnang-gu|     overseas inflow|       null|            31|              null|    2020-01-30|   2020-03-02|         null|released|
|1000000003|  male|50s|  Korea|   Seoul|  Jongno-gu|contact with patient| 2002000001|            17|              null|    2020-01-30|   2020-02-19|         null|released|
|1000000004|  male|20s|  Korea|   Seoul|    Mapo-gu|     overseas inflow|       null|             9|        2020-01-26|    2020-01-30|   2020-02-15|         null|released|
|1000000005|female|20s|  Korea|   Seoul|Seongbuk-gu|contact with patient| 1000000002|             2|              null|    2020-01-31|   2020-02-24|         null|released|
+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+

4. Select the count of males and females in the dataset

In [ ]:
spark.sql('select count(sex) as count_male from patients where sex = "male"').show()

+----------+
|count_male|
+----------+
|      1825|
+----------+

In [ ]:
spark.sql('select count(sex) as count_female from patients where sex = "female"').show()

+------------+
|count_female|
+------------+
|        2218|
+------------+

In [ ]:
spark.sql('select count(sex) ,sex from patients GROUP BY sex ').show()

+----------+------+
|count(sex)|   sex|
+----------+------+
|         0|  null|
|      2218|female|
|      1825|  male|
+----------+------+

5. Select the count of males and females *as percentage* (how many percent of the data are males and how many are females?)

In [ ]:
spark.sql('select (count(sex)/(select count(sex) from patients))*100 as percentage_male from patients where sex = "male"').show()

+-----------------+
|  percentage_male|
+-----------------+
|45.13974771209498|
+-----------------+

In [ ]:
spark.sql('select (count(sex)/(select count(sex) from patients))*100 as percentage_female from patients where sex = "female"').show()

+-----------------+
|percentage_female|
+-----------------+
|54.86025228790502|
+-----------------+

In [ ]:
spark.sql('select count(sex) ,sex from patients GROUP BY sex ').show()

6. How many people did survive, and how many didn't?

In [ ]:
spark.sql('select DISTINCT state  from patients').show()

+--------+
|   state|
+--------+
|isolated|
|released|
|deceased|
+--------+

In [ ]:
spark.sql('select count( state ) as survive from patients where state = "deceased"').show() # not survive

+-------+
|survive|
+-------+
|     78|
+-------+

In [ ]:
spark.sql('select count( state ) as not_survive from patients where state !="deceased"').show() # not survive

+-----------+
|not_survive|
+-----------+
|       5087|
+-----------+

In [ ]:
spark.sql('select (count(sex)/(select count(sex) from patients))*100 ,sex from patients GROUP BY sex ').show()

+---------------------------------------+------+
|((count(sex) / scalarsubquery()) * 100)|   sex|
+---------------------------------------+------+
|                                    0.0|  null|
|                      54.86025228790502|female|
|                      45.13974771209498|  male|
+---------------------------------------+------+

Now, let's perform some preprocessing using SQL:

1. Convert *age* column to double after removing the 's' at the end -- *hint: check SUBSTRING method*
2. Select only the following columns: `['sex', 'age', 'province', 'state']`
3. Store the result of the query in a new dataframe

In [ ]:
df_new = spark.sql('select sex, DOUBLE(SUBSTRING(age, 0, 2)) AS age, province, state from patients ')

Now view the new dataframe to make sure everything is alright

In [ ]:
df_new.show()

+------+----+--------+--------+
|   sex| age|province|   state|
+------+----+--------+--------+
|  male|50.0|   Seoul|released|
|  male|30.0|   Seoul|released|
|  male|50.0|   Seoul|released|
|  male|20.0|   Seoul|released|
|female|20.0|   Seoul|released|
|female|50.0|   Seoul|released|
|  male|20.0|   Seoul|released|
|  male|20.0|   Seoul|released|
|  male|30.0|   Seoul|released|
|female|60.0|   Seoul|released|
|female|50.0|   Seoul|released|
|  male|20.0|   Seoul|released|
|  male|80.0|   Seoul|deceased|
|female|60.0|   Seoul|released|
|  male|70.0|   Seoul|released|
|  male|70.0|   Seoul|released|
|  male|70.0|   Seoul|released|
|  male|20.0|   Seoul|released|
|female|70.0|   Seoul|released|
|female|70.0|   Seoul|released|
+------+----+--------+--------+
only showing top 20 rows

**Now, let's get back to spark operations**

Please copy the following operations from your solution in Lab 1
___

Add a **is_dead** column if patient state is not released then it should yield true, else then False

In [ ]:
from pyspark.sql.types import IntegerType
def isdead(sts):

    if sts=='released':
      return 1
    else:
      return 0
   
fun1 = fn.udf(isdead,IntegerType())
df_new_2 = df_new.withColumn('isdead',fun1('state'))

In [ ]:
df_new_2.show()

+------+----+--------+--------+------+
|   sex| age|province|   state|isdead|
+------+----+--------+--------+------+
|  male|50.0|   Seoul|released|     1|
|  male|30.0|   Seoul|released|     1|
|  male|50.0|   Seoul|released|     1|
|  male|20.0|   Seoul|released|     1|
|female|20.0|   Seoul|released|     1|
|female|50.0|   Seoul|released|     1|
|  male|20.0|   Seoul|released|     1|
|  male|20.0|   Seoul|released|     1|
|  male|30.0|   Seoul|released|     1|
|female|60.0|   Seoul|released|     1|
|female|50.0|   Seoul|released|     1|
|  male|20.0|   Seoul|released|     1|
|  male|80.0|   Seoul|deceased|     0|
|female|60.0|   Seoul|released|     1|
|  male|70.0|   Seoul|released|     1|
|  male|70.0|   Seoul|released|     1|
|  male|70.0|   Seoul|released|     1|
|  male|20.0|   Seoul|released|     1|
|female|70.0|   Seoul|released|     1|
|female|70.0|   Seoul|released|     1|
+------+----+--------+--------+------+
only showing top 20 rows

**Please split the data into train and test dataframes**

*Ratio: 80:20 - Seed=42*

In [ ]:
trainDF, testDF = df_new_2.randomSplit([0.8,0.2],seed=42)

In [ ]:
trainDF.show(10)

+----+----+-----------+--------+------+
| sex| age|   province|   state|isdead|
+----+----+-----------+--------+------+
|null|null|      Busan|isolated|     0|
|null|null|      Busan|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
+----+----+-----------+--------+------+
only showing top 10 rows

In [ ]:
testDF.show(5)

+----+----+-----------+--------+------+
| sex| age|   province|   state|isdead|
+----+----+-----------+--------+------+
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
+----+----+-----------+--------+------+
only showing top 5 rows

**Now, let's import RandomForestClassifier and start our ML pipeline**

In [ ]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler, Imputer
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml import Pipeline

**Create a pipeline that contains the following stages:**

- Imputer: impute the null values in `age` column to the mean value
- StringIndexer: convert `sex` to `is_male` and `province` to `province_index` as numerical values
- OneHotEncoder: perform one hot encoding on both `is_male` and -province_index`
- VectorAssembler: assemble feature vector from the following columns: `'age', 'is_male', 'province_index'`
- RandomForestClassifier: final estimator

In [ ]:
imputer = Imputer(
    inputCols=['age'], 
    outputCols=["age_imputed"]
    ).setStrategy("mean")

In [ ]:
stringIndexer = StringIndexer(inputCols=['sex','province'],outputCols=['is_male','province_index'], handleInvalid='skip')

In [ ]:
oheEncoder = OneHotEncoder(inputCols=['is_male','province_index'], outputCols=['hot_is_male','hot_province_index'])

In [ ]:
vecAssembler = VectorAssembler(inputCols=['age_imputed', 'hot_is_male', 'hot_province_index'],outputCol='features')

In [ ]:
Rf = RandomForestClassifier(featuresCol='features',labelCol='isdead',predictionCol='prediction')

Fit the pipeline to the train dataframe

In [ ]:
stgs = [imputer,stringIndexer,oheEncoder,vecAssembler,Rf]

In [ ]:
pl = Pipeline(stages=stgs)

In [ ]:
trainDF.show()

+----+----+-----------+--------+------+
| sex| age|   province|   state|isdead|
+----+----+-----------+--------+------+
|null|null|      Busan|isolated|     0|
|null|null|      Busan|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
|null|null|Gyeonggi-do|isolated|     0|
+----+----+-----------+--------+------+
only showing top 20 rows

In [ ]:
pl_Model = pl.fit(trainDF)

Now transform the test DF to get predictions

In [ ]:
predDF = pl_Model.transform(testDF)

Show the final predictions DF

In [ ]:
predDF.show()

+------+----+-----------------+--------+------+-----------------+-------+--------------+-------------+------------------+--------------------+--------------------+--------------------+----------+
|   sex| age|         province|   state|isdead|      age_imputed|is_male|province_index|  hot_is_male|hot_province_index|            features|       rawPrediction|         probability|prediction|
+------+----+-----------------+--------+------+-----------------+-------+--------------+-------------+------------------+--------------------+--------------------+--------------------+----------+
|female|null|Chungcheongnam-do|released|     1|40.83025210084033|    0.0|           4.0|(1,[0],[1.0])|    (16,[4],[1.0])|(18,[0,1,6],[40.8...|[5.34544334220968...|[0.26727216711048...|       1.0|
|female|null|Chungcheongnam-do|released|     1|40.83025210084033|    0.0|           4.0|(1,[0],[1.0])|    (16,[4],[1.0])|(18,[0,1,6],[40.8...|[5.34544334220968...|[0.26727216711048...|       1.0|
|female|null|            Daegu|isolated|     0|40.83025210084033|    0.0|           6.0|(1,[0],[1.0])|    (16,[6],[1.0])|(18,[0,1,8],[40.8...|[15.7316897272981...|[0.78658448636490...|       0.0|
|female|null|      Gyeonggi-do|isolated|     0|40.83025210084033|    0.0|           2.0|(1,[0],[1.0])|    (16,[2],[1.0])|(18,[0,1,4],[40.8...|[17.3615700231132...|[0.86807850115566...|       0.0|
|female|null| Gyeongsangbuk-do|isolated|     0|40.83025210084033|    0.0|           1.0|(1,[0],[1.0])|    (16,[1],[1.0])|(18,[0,1,3],[40.8...|[4.38855430655556...|[0.21942771532777...|       1.0|
|female|null| Gyeongsangbuk-do|released|     1|40.83025210084033|    0.0|           1.0|(1,[0],[1.0])|    (16,[1],[1.0])|(18,[0,1,3],[40.8...|[4.38855430655556...|[0.21942771532777...|       1.0|
|female|null| Gyeongsangbuk-do|released|     1|40.83025210084033|    0.0|           1.0|(1,[0],[1.0])|    (16,[1],[1.0])|(18,[0,1,3],[40.8...|[4.38855430655556...|[0.21942771532777...|       1.0|
|female|null| Gyeongsangbuk-do|released|     1|40.83025210084033|    0.0|           1.0|(1,[0],[1.0])|    (16,[1],[1.0])|(18,[0,1,3],[40.8...|[4.38855430655556...|[0.21942771532777...|       1.0|
|female|null| Gyeongsangbuk-do|released|     1|40.83025210084033|    0.0|           1.0|(1,[0],[1.0])|    (16,[1],[1.0])|(18,[0,1,3],[40.8...|[4.38855430655556...|[0.21942771532777...|       1.0|
|female|null| Gyeongsangbuk-do|released|     1|40.83025210084033|    0.0|           1.0|(1,[0],[1.0])|    (16,[1],[1.0])|(18,[0,1,3],[40.8...|[4.38855430655556...|[0.21942771532777...|       1.0|
|female|null|          Incheon|isolated|     0|40.83025210084033|    0.0|           3.0|(1,[0],[1.0])|    (16,[3],[1.0])|(18,[0,1,5],[40.8...|[13.4674506293144...|[0.67337253146572...|       0.0|
|female|null|          Incheon|isolated|     0|40.83025210084033|    0.0|           3.0|(1,[0],[1.0])|    (16,[3],[1.0])|(18,[0,1,5],[40.8...|[13.4674506293144...|[0.67337253146572...|       0.0|
|female|null|          Incheon|isolated|     0|40.83025210084033|    0.0|           3.0|(1,[0],[1.0])|    (16,[3],[1.0])|(18,[0,1,5],[40.8...|[13.4674506293144...|[0.67337253146572...|       0.0|
|female|null|          Incheon|isolated|     0|40.83025210084033|    0.0|           3.0|(1,[0],[1.0])|    (16,[3],[1.0])|(18,[0,1,5],[40.8...|[13.4674506293144...|[0.67337253146572...|       0.0|
|female|null|          Incheon|isolated|     0|40.83025210084033|    0.0|           3.0|(1,[0],[1.0])|    (16,[3],[1.0])|(18,[0,1,5],[40.8...|[13.4674506293144...|[0.67337253146572...|       0.0|
|female|null|          Incheon|isolated|     0|40.83025210084033|    0.0|           3.0|(1,[0],[1.0])|    (16,[3],[1.0])|(18,[0,1,5],[40.8...|[13.4674506293144...|[0.67337253146572...|       0.0|
|female|null|          Incheon|isolated|     0|40.83025210084033|    0.0|           3.0|(1,[0],[1.0])|    (16,[3],[1.0])|(18,[0,1,5],[40.8...|[13.4674506293144...|[0.67337253146572...|       0.0|
|female|null|          Incheon|isolated|     0|40.83025210084033|    0.0|           3.0|(1,[0],[1.0])|    (16,[3],[1.0])|(18,[0,1,5],[40.8...|[13.4674506293144...|[0.67337253146572...|       0.0|
|female|null|          Incheon|isolated|     0|40.83025210084033|    0.0|           3.0|(1,[0],[1.0])|    (16,[3],[1.0])|(18,[0,1,5],[40.8...|[13.4674506293144...|[0.67337253146572...|       0.0|
|female|null|          Incheon|isolated|     0|40.83025210084033|    0.0|           3.0|(1,[0],[1.0])|    (16,[3],[1.0])|(18,[0,1,5],[40.8...|[13.4674506293144...|[0.67337253146572...|       0.0|
+------+----+-----------------+--------+------+-----------------+-------+--------------+-------------+------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [ ]:
predDF.select('features','isdead','prediction').show(5,truncate=False)

+----------------------------------------+------+----------+
|features                                |isdead|prediction|
+----------------------------------------+------+----------+
|(18,[0,1,6],[40.83025210084033,1.0,1.0])|1     |1.0       |
|(18,[0,1,6],[40.83025210084033,1.0,1.0])|1     |1.0       |
|(18,[0,1,8],[40.83025210084033,1.0,1.0])|0     |0.0       |
|(18,[0,1,4],[40.83025210084033,1.0,1.0])|0     |0.0       |
|(18,[0,1,3],[40.83025210084033,1.0,1.0])|0     |1.0       |
+----------------------------------------+------+----------+
only showing top 5 rows

**Model Evaluation**

Now let's evaluate our model! Let's get the accuracy of our model

In [ ]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator,MulticlassClassificationEvaluator

In [ ]:
evaluator = MulticlassClassificationEvaluator().setLabelCol("isdead").setPredictionCol("prediction").setMetricName("accuracy")
accuracy = evaluator.evaluate(predDF)

In [ ]:
print(accuracy)

0.9

Excellent! Now let's generate the confusion matrix of our predictions

*Hint: we can use `scikit-learn`'s `classification_report`. You will need to transform the predictions into pandas DF first*

## Great Job!

**If you followed the instructions correctly, you should get a total accuracy of 89%, and F1 scores of 92% and 85%**

**Do you think you can improve this accuracy? Let's see what you can do :)**

___
If you have any questions you can reach out to me:

### Omar Hammad
#### Software Engineer
##### Email: ommar365@gmail.com
##### Phone: 01144070145
##### Linkedin: https://www.linkedin.com/in/omar-a-hammad