<a href="https://colab.research.google.com/github/FatemaSamir/pyspark/blob/main/Fatema_Samir_Session_2_H_W.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Spark Assigment 2 
## version : 1
## Auther : Fatema Samir
### Date : 15/6 /2022

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 41 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 63.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=07e02ea85a1431831e2b5f08a667aa6641aaa76410a844166c5728c7c4a85dd5
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

## Task 1 - SQL

### Build SparkSession:

In [ ]:
from pyspark.sql import SparkSession 
import pyspark.sql.functions as fn
from pyspark.sql.functions import *

In [ ]:
spark = SparkSession.builder.appName('Lab2').getOrCreate() # intery point
sc = spark.sparkContext

### Read the json file:

In [ ]:
df_jeson = spark.read.json('/content/gdrive/MyDrive/Pyspark/Assigment_2/DataFrames_sample.json')

### Display the schema:

In [ ]:
df_jeson.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

In [ ]:
df_jeson.schema

StructType([StructField('D', DoubleType(), True), StructField('H', DoubleType(), True), StructField('HDD', StringType(), True), StructField('Id', LongType(), True), StructField('Model', StringType(), True), StructField('RAM', StringType(), True), StructField('ScreenSize', StringType(), True), StructField('W', DoubleType(), True), StructField('Weight', DoubleType(), True), StructField('Year', LongType(), True)])

### Get all the data when "Model" equal "MacBook Pro":

In [ ]:
df_jeson.where(fn.col('Model') == "MacBook Pro").show() # all data where col(model ) == MacBook Pro

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

In [ ]:
df_jeson.createOrReplaceTempView("computer")

In [ ]:
spark.sql('select * from computer where model == "MacBook Pro" ').show() #another way to find all data where col(model ) == MacBook Pro

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

In [ ]:
df_jeson.show() # all data

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
| 8.0|20.3|  1TB SSD|  4|       iMac|64GB|       27"| 25.6|  20.8|2017|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create Table:

In [ ]:
df_jeson.createOrReplaceTempView("Computer_View") #
# spark.sql('CREATE TABLE IF NOT EXISTS MY_TABLE AS SELECT * FROM Computer_View')

### Display "RAM"column and count "RAM" column:

In [ ]:
spark.sql('select count(RAM) from Computer_View').show()

+----------+
|count(RAM)|
+----------+
|         4|
+----------+

In [ ]:
spark.sql('select RAM from Computer_View').show()

+----+
| RAM|
+----+
|16GB|
| 8GB|
| 8GB|
|64GB|
+----+

### Get all columns when "Year" column equal "2015"

In [ ]:
spark.sql('select * from Computer_View where Year = 2015').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [ ]:
spark.sql('select * from Computer_View where Model like "M%"').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [ ]:
spark.sql('select * from Computer_View where Model = "MacBook Pro"').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [ ]:
spark.sql('select * from Computer_View where RAM = "8GB" and Model = "MacBook"').show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [ ]:
spark.sql('select * from Computer_View where D >= 8 and Model = "iMac"').show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [ ]:
df_test = spark.read.csv('/content/gdrive/MyDrive/Pyspark/Assigment_2/test1.csv',header=True)

In [ ]:
df_test.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [ ]:
df_test.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### Display Salary of the people less than or equal to 20000

In [ ]:
df_test = df_test.withColumn('Salary',df_test['Salary'].astype('double'))
df_test.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: double (nullable = true)

In [ ]:
df_test.where('Salary <= 20000').show()

+-------+---+----------+-------+
|   Name|age|Experience| Salary|
+-------+---+----------+-------+
|  Sunny| 29|         4|20000.0|
|   Paul| 24|         3|20000.0|
| Harsha| 21|         1|15000.0|
|Shubham| 23|         2|18000.0|
+-------+---+----------+-------+

In [ ]:
df_test.select('Salary').where('Salary <= 20000').show()

+-------+
| Salary|
+-------+
|20000.0|
|20000.0|
|15000.0|
|18000.0|
+-------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [ ]:
df_test.where('Salary <= 20000 and Salary >= 15000').show()

+-------+---+----------+-------+
|   Name|age|Experience| Salary|
+-------+---+----------+-------+
|  Sunny| 29|         4|20000.0|
|   Paul| 24|         3|20000.0|
| Harsha| 21|         1|15000.0|
|Shubham| 23|         2|18000.0|
+-------+---+----------+-------+

In [ ]:
df_test.select('Salary').where('Salary <= 20000 and Salary >= 15000').show()

+-------+
| Salary|
+-------+
|20000.0|
|20000.0|
|15000.0|
|18000.0|
+-------+

## Task 3

### Read "test3" dataset:

In [ ]:
df3 = spark.read.csv('/content/gdrive/MyDrive/Pyspark/Assigment_2/test3.csv',header=True)

### Display dataset

In [ ]:
df3.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [ ]:
df3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: string (nullable = true)

In [ ]:
df3 = df3.withColumn('salary',df3['salary'].astype('double'))
df3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: double (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [ ]:
df3.groupBy('Name').sum('salary').show() #  i thought you meant apply sum function on salary column

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|    35000.0|
|    Sunny|    12000.0|
|    Krish|    19000.0|
|   Mahesh|     7000.0|
+---------+-----------+

### Group by "Name" column and using avg function on "Name" column

In [ ]:
df3.groupBy('Name').avg('salary').show() #  i thought you meant apply avg function on salary column

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "Departments" column

In [ ]:
df3.groupBy('Departments').agg(fn.sum(fn.col('Departments'))).show()

+------------+----------------+
| Departments|sum(Departments)|
+------------+----------------+
|         IOT|            null|
|    Big Data|            null|
|Data Science|            null|
+------------+----------------+

In [ ]:
df3.groupBy('Departments').agg(fn.sum(fn.col('salary'))).show() #  i thought you meant apply sum function on salary column

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|    15000.0|
|    Big Data|    15000.0|
|Data Science|    43000.0|
+------------+-----------+

### Group by "Departments" column and using mean function on "Departments" column:

In [ ]:
df3.groupBy('Departments').agg(fn.mean(fn.col('salary'))).show() #  i thought you meant apply mean function on salary column

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

Group by "Departments" column and using count function on "Departments" column:

In [ ]:
df3.groupBy('Departments').agg(fn.count(fn.col('salary'))).show() #  i thought you count apply mean function on salary column

+------------+-------------+
| Departments|count(salary)|
+------------+-------------+
|         IOT|            2|
|    Big Data|            4|
|Data Science|            4|
+------------+-------------+

### Apply agg to using sum function get the total of salaries

In [ ]:
df3.select('salary').agg(fn.sum('salary')).show()

+-----------+
|sum(salary)|
+-----------+
|    73000.0|
+-----------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [ ]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler, Imputer
from pyspark.ml.regression import LinearRegression
from pyspark.ml import Pipeline

In [ ]:
df = spark.read.csv('/content/gdrive/MyDrive/Pyspark/Assigment_2/ITI_data.csv',header=True)

In [ ]:
df.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Tonnage: string (nullable = true)
 |-- passengers: string (nullable = true)
 |-- length: string (nullable = true)
 |-- cabins: string (nullable = true)
 |-- passenger_density: string (nullable = true)
 |-- crew: string (nullable = true)

In [ ]:
df.dtypes

[('Ship_name', 'string'),
 ('Cruise_line', 'string'),
 ('Age', 'string'),
 ('Tonnage', 'string'),
 ('passengers', 'string'),
 ('length', 'string'),
 ('cabins', 'string'),
 ('passenger_density', 'string'),
 ('crew', 'string')]

In [ ]:
df.show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 20 rows

In [ ]:
df.columns

['Ship_name',
 'Cruise_line',
 'Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'crew']

In [ ]:
columns = ['Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'crew']

In [ ]:
# df_new = df.withColumns([ df[c].astype('double') for c in columns])
# df_new.printSchema()

In [ ]:
from pyspark.sql.types import DoubleType, IntegerType, DateType
df_new = df.select(columns)
data = df_new.withColumn('Age',col('Age').astype(IntegerType())).withColumn('Tonnage',col('Tonnage').astype(DoubleType()))
data = data.withColumn('passengers',col('passengers').astype(DoubleType())).withColumn('length',col('length').astype(DoubleType()))
data = data.withColumn('cabins',col('cabins').astype(DoubleType())).withColumn('passenger_density',col('passenger_density').astype(DoubleType())).withColumn('crew',col('crew').astype(DoubleType()))

In [ ]:
data.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

In [ ]:
trainDF, testDF = data.randomSplit([0.8,0.2],seed=42)

### OneHotEncoder

In [ ]:
# oheEncoder = OneHotEncoder(inputCols=[], outputCols=[])

###Use VectorAssembler to merge all columns into one column:

In [ ]:
f = ['Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density']
vecAssembler = VectorAssembler(inputCols=f,outputCol='features')

### Create a Linear Regression Model

In [ ]:
LR = LinearRegression(featuresCol='features',labelCol='crew',predictionCol='prediction')

### Creating a Pipeline

In [ ]:
stgs = [vecAssembler,LR]

In [ ]:
pl = Pipeline(stages=stgs)

In [ ]:
pl_Model = pl.fit(trainDF)

In [ ]:
predDF = pl_Model.transform(testDF)

In [ ]:
predDF.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)
 |-- features: vector (nullable = true)
 |-- prediction: double (nullable = false)

In [ ]:
predDF.show()

+---+------------------+----------+------+------+-----------------+-----+--------------------+------------------+
|Age|           Tonnage|passengers|length|cabins|passenger_density| crew|            features|        prediction|
+---+------------------+----------+------+------+-----------------+-----+--------------------+------------------+
|  5|             115.0|     35.74|   9.0| 15.32|            32.18| 12.2|[5.0,115.0,35.74,...|11.503208271909196|
|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64| 3.55|[6.0,30.276999999...|3.9840254552777408|
|  6|              90.0|      20.0|  9.64| 10.29|             45.0|  9.0|[6.0,90.0,20.0,9....|  9.72781656655036|
|  6|             158.0|      43.7| 11.25|  18.0|            36.16| 13.6|[6.0,158.0,43.7,1...| 13.93526446332513|
|  8|             110.0|     29.74|  9.51| 14.87|            36.99| 11.6|[8.0,110.0,29.74,...|12.142415881066222|
|  9|              88.5|     21.24|  9.63| 10.62|            41.67| 10.3|[9.0,88.5,21.24,9...| 9.748050239854887|
|  9|             116.0|      26.0|  9.51|  13.0|            44.62| 11.0|[9.0,116.0,26.0,9...| 11.27428148852682|
| 10|              86.0|     21.14|   9.6| 10.56|            40.68|  9.2|[10.0,86.0,21.14,...| 9.657409356194112|
| 11|              90.0|      22.4|  9.65|  11.2|            40.18| 11.0|[11.0,90.0,22.4,9...|10.045892873770697|
| 11|             90.09|     25.01|  9.62|  10.5|            36.02| 8.48|[11.0,90.09,25.01...| 9.080472674887085|
| 11|              91.0|     20.32|  9.65|  9.75|            44.78| 9.99|[11.0,91.0,20.32,...| 9.209183752260307|
| 11|           108.977|     26.02|  9.51| 13.01|            41.88| 12.0|[11.0,108.977,26....| 11.16075320654077|
| 11|             138.0|     31.14|  10.2| 15.57|            44.32|11.85|[11.0,138.0,31.14...|13.120186382254701|
| 12|              50.0|       7.0|  7.09|  3.54|            71.43| 4.45|[12.0,50.0,7.0,7....| 4.655906440637429|
| 12|              91.0|     20.32|  9.65|  9.75|            44.78| 9.99|[12.0,91.0,20.32,...| 9.198280748841675|
| 13|              76.0|     18.74|  8.86|  9.39|            40.55|  8.5|[13.0,76.0,18.74,...| 8.613699580499567|
| 14|              63.0|      14.4|  7.77|   7.2|            43.75| 5.61|[14.0,63.0,14.4,7...| 6.885482762896708|
| 17|            74.137|      19.5|  9.16|  9.75|            38.02|  7.6|[17.0,74.137,19.5...| 8.837921931037458|
| 19|            55.451|     12.66|  7.19|  6.33|             43.8| 5.88|[19.0,55.451,12.6...| 6.059395059630004|
| 20|            55.451|     12.64|  7.19|  6.32|            43.87| 5.57|[20.0,55.451,12.6...| 6.043514546675909|
+---+------------------+----------+------+------+-----------------+-----+--------------------+------------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator

In [ ]:
r2 = RegressionEvaluator(predictionCol='prediction',
    labelCol='crew',
    metricName='r2')

In [ ]:
r2.evaluate(predDF)

0.9349493365865011

By Eng. Mostafa Nabieh 
If you have questions, please feel free to ask.

My Email : nabieh.mostafa@yahoo.com

My Whatsapp : +201015197566

# Thank You 😊