<a href="https://colab.research.google.com/github/FatemaSamir/pyspark/blob/main/Fatema_Samir_GraphFrams_P_S__Student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The following section is for Colab Users.
### Just run the following code cells

In [ ]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://bitbucket.org/habedi/datasets/raw/b6769c4664e7ff68b001e2f43bc517888cbe3642/spark/spark-3.0.2-bin-hadoop2.7.tgz
!tar xf spark-3.0.2-bin-hadoop2.7.tgz
!rm -rf spark-3.0.2-bin-hadoop2.7.tgz*
!pip -q install findspark pyspark graphframes

     |████████████████████████████████| 281.3 MB 47 kB/s
     |████████████████████████████████| 199 kB 65.6 MB/s
     |████████████████████████████████| 154 kB 59.1 MB/s
  Building wheel for pyspark (setup.py) ... done

In [ ]:
!wget https://repos.spark-packages.org/graphframes/graphframes/0.8.2-spark3.0-s_2.12/graphframes-0.8.2-spark3.0-s_2.12.jar -P /content/spark-3.0.2-bin-hadoop2.7/jars/
!cp /content/spark-3.0.2-bin-hadoop2.7/jars/graphframes-0.8.2-spark3.0-s_2.12.jar /content/spark-3.0.2-bin-hadoop2.7/graphframes-0.8.2-spark3.0-s_2.12.zip

--2022-07-18 20:57:19--  https://repos.spark-packages.org/graphframes/graphframes/0.8.2-spark3.0-s_2.12/graphframes-0.8.2-spark3.0-s_2.12.jar
Resolving repos.spark-packages.org (repos.spark-packages.org)... 13.32.87.68, 13.32.87.119, 13.32.87.12, ...
Connecting to repos.spark-packages.org (repos.spark-packages.org)|13.32.87.68|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 247882 (242K) [binary/octet-stream]
Saving to: ‘/content/spark-3.0.2-bin-hadoop2.7/jars/graphframes-0.8.2-spark3.0-s_2.12.jar’

graphframes-0.8.2-s 100%[===================>] 242.07K  --.-KB/s    in 0.06s

2022-07-18 20:57:19 (3.91 MB/s) - ‘/content/spark-3.0.2-bin-hadoop2.7/jars/graphframes-0.8.2-spark3.0-s_2.12.jar’ saved [247882/247882]

In [ ]:
import os

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.2-bin-hadoop2.7"
os.environ["HADOOP_HOME"] = os.environ["SPARK_HOME"]

os.environ["PYSPARK_DRIVER_PYTHON"] = "jupyter"
os.environ["PYSPARK_DRIVER_PYTHON_OPTS"] = "notebook"
os.environ["PYSPARK_SUBMIT_ARGS"] = "--master local[*] pyspark-shell"

In [ ]:
import findspark
findspark.init()

In [ ]:
!export PYSPARK_SUBMIT_ARGS="--master local[*] pyspark-shell"
!export PYSPARK_DRIVER_PYTHON=jupyter
!export PYSPARK_DRIVER_PYTHON_OPTS=notebook

In [ ]:
from pyspark.sql import SparkSession
from graphframes import *

spark = SparkSession.builder.master("local[*]").appName("GraphFrames").getOrCreate()

In [ ]:
os.environ["PYSPARK_SUBMIT_ARGS"] = "--packages graphframes:graphframes:0.8.1-spark3.0-s_2.12 pyspark-shell"

**************************************************************************
**************************************************************************
**************************************************************************

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

### Read departuredelays.csv in Edge DataFrame
### Read airport-codes-na.txt in Vertix DataFrame (the separator is Tab i.e sep = '\t' )

#### The US flight delays data set has five columns:
- The <b>date</b> column contains an integer like 02190925 . When converted, this maps to 02-19 09:25 am.
- The <b>delay</b> column gives the delay in minutes between the scheduled and actual departure times. Early departures show negative numbers.
- The <b>distance</b> column gives the distance in miles from the origin airport to the destination airport.
- The <b>origin</b> column contains the origin IATA airport code.
- The <b>destination</b> column contains the destination IATA airport code.

#### The airport-codes data set has four columns:
- The <b>IATA</b> column contains IATA airport code.
- The <b>City, State, and Country</b> columns contains information about the airport location.

In [ ]:
Edge_df = spark.read.csv('/content/drive/MyDrive/Spark_lab4/departuredelays.csv',header=True)

In [ ]:
Edge_df.printSchema()

root
 |-- date: string (nullable = true)
 |-- delay: string (nullable = true)
 |-- distance: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)

In [ ]:
Edge_df.show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
+--------+-----+--------+------+-----------+
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
|01050605|    9|     602|   ABE|        ATL|
|01061215|   -6|     602|   ABE|        ATL|
|01061725|   69|     602|   ABE|        ATL|
|01061230|    0|     369|   ABE|        DTW|
|01060625|   -3|     602|   ABE|        ATL|
|01070600|    0|     369|   ABE|        DTW|
|01071725|    0|     602|   ABE|        ATL|
|01071230|    0|     369|   ABE|        DTW|
|01070625|    0|     602|   ABE|        ATL|
|01071219|    0|     569|   ABE|        ORD|
|01080600|    0|     369|   ABE|        DTW|
+--------+-----+--------+------+-----------+
only showing top 20 rows

In [ ]:
from pyspark.sql import functions as F
import pandas as pd

Edge_df2 = Edge_df.withColumn("date",F.date_format( F.to_timestamp(F.col("date").cast("string"), \
    'MMddHHmm'),"MM dd hh:mm a"))
Edge_df2.show()

+--------------+-----+--------+------+-----------+
|          date|delay|distance|origin|destination|
+--------------+-----+--------+------+-----------+
|01 01 12:45 PM|    6|     602|   ABE|        ATL|
|01 02 06:00 AM|   -8|     369|   ABE|        DTW|
|01 02 12:45 PM|   -2|     602|   ABE|        ATL|
|01 02 06:05 AM|   -4|     602|   ABE|        ATL|
|01 03 12:45 PM|   -4|     602|   ABE|        ATL|
|01 03 06:05 AM|    0|     602|   ABE|        ATL|
|01 04 12:43 PM|   10|     602|   ABE|        ATL|
|01 04 06:05 AM|   28|     602|   ABE|        ATL|
|01 05 12:45 PM|   88|     602|   ABE|        ATL|
|01 05 06:05 AM|    9|     602|   ABE|        ATL|
|01 06 12:15 PM|   -6|     602|   ABE|        ATL|
|01 06 05:25 PM|   69|     602|   ABE|        ATL|
|01 06 12:30 PM|    0|     369|   ABE|        DTW|
|01 06 06:25 AM|   -3|     602|   ABE|        ATL|
|01 07 06:00 AM|    0|     369|   ABE|        DTW|
|01 07 05:25 PM|    0|     602|   ABE|        ATL|
|01 07 12:30 PM|    0|     369|   ABE|        DTW|
|01 07 06:25 AM|    0|     602|   ABE|        ATL|
|01 07 12:19 PM|    0|     569|   ABE|        ORD|
|01 08 06:00 AM|    0|     369|   ABE|        DTW|
+--------------+-----+--------+------+-----------+
only showing top 20 rows

### In the vertix DataFrame, drop any duplicated rows with the same  IATA code.

In [ ]:
from posixpath import sep
Vertix_df = spark.read.option('sep','\t').csv('/content/drive/MyDrive/Spark_lab4/airport-codes-na.txt',header=True)
Vertix_df.show()

+-----------+-----+-------+----+
|       City|State|Country|IATA|
+-----------+-----+-------+----+
| Abbotsford|   BC| Canada| YXX|
|   Aberdeen|   SD|    USA| ABR|
|    Abilene|   TX|    USA| ABI|
|      Akron|   OH|    USA| CAK|
|    Alamosa|   CO|    USA| ALS|
|     Albany|   GA|    USA| ABY|
|     Albany|   NY|    USA| ALB|
|Albuquerque|   NM|    USA| ABQ|
| Alexandria|   LA|    USA| AEX|
|  Allentown|   PA|    USA| ABE|
|   Alliance|   NE|    USA| AIA|
|     Alpena|   MI|    USA| APN|
|    Altoona|   PA|    USA| AOO|
|   Amarillo|   TX|    USA| AMA|
|Anahim Lake|   BC| Canada| YAA|
|  Anchorage|   AK|    USA| ANC|
|   Appleton|   WI|    USA| ATW|
|     Arviat|  NWT| Canada| YEK|
|  Asheville|   NC|    USA| AVL|
|      Aspen|   CO|    USA| ASE|
+-----------+-----+-------+----+
only showing top 20 rows

In [ ]:
Vertix_df.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- IATA: string (nullable = true)

In [ ]:
# drope any duplicate
Vertix_df2 = Vertix_df.drop_duplicates()
Vertix_df2.show()

+--------------+-------+-------+----+
|          City|  State|Country|IATA|
+--------------+-------+-------+----+
|    Clarksburg|     WV|    USA| CKB|
|    Fort Dodge|     IA|    USA| FOD|
|       Redmond|     OR|    USA| RDM|
|        Valdez|     AK|    USA| VDZ|
|       Lebanon|     NH|    USA| LEB|
|         Aspen|     CO|    USA| ASE|
| Rouyn-Noranda|     PQ| Canada| YUY|
|       Iqaluit|Nunavut| Canada| YFB|
|       Toronto|     ON| Canada| YYZ|
|    Dillingham|     AK|    USA| DLG|
|   Fort Nelson|     BC| Canada| YYE|
|      Pellston|     MI|    USA| PLN|
|     St. Cloud|     MN|    USA| STC|
|St. Petersburg|     FL|    USA| PIE|
|    Great Bend|     KS|    USA| GBD|
|          Hilo|     HI|    USA| Big|
|       Kelowna|     BC| Canada| YLW|
|       Bemidji|     MN|    USA| BJI|
|        London|     ON| Canada| YXU|
|      Longview|     TX|    USA| GGG|
+--------------+-------+-------+----+
only showing top 20 rows

### In the edges DataFrame:
- Rename the <b>date</b> columns to become <b>tripid</b>.
- Rename the <b>origin</b> columns to become <b>src</b>.
- Rename the <b>destination</b> columns to become <b>dst</b>.

In [ ]:
# rename src des

Edge_df3 = Edge_df2.withColumnRenamed("origin","src").withColumnRenamed('destination','dst').withColumnRenamed('date','tripid')
Edge_df3.show()

+--------------+-----+--------+---+---+
|        tripid|delay|distance|src|dst|
+--------------+-----+--------+---+---+
|01 01 12:45 PM|    6|     602|ABE|ATL|
|01 02 06:00 AM|   -8|     369|ABE|DTW|
|01 02 12:45 PM|   -2|     602|ABE|ATL|
|01 02 06:05 AM|   -4|     602|ABE|ATL|
|01 03 12:45 PM|   -4|     602|ABE|ATL|
|01 03 06:05 AM|    0|     602|ABE|ATL|
|01 04 12:43 PM|   10|     602|ABE|ATL|
|01 04 06:05 AM|   28|     602|ABE|ATL|
|01 05 12:45 PM|   88|     602|ABE|ATL|
|01 05 06:05 AM|    9|     602|ABE|ATL|
|01 06 12:15 PM|   -6|     602|ABE|ATL|
|01 06 05:25 PM|   69|     602|ABE|ATL|
|01 06 12:30 PM|    0|     369|ABE|DTW|
|01 06 06:25 AM|   -3|     602|ABE|ATL|
|01 07 06:00 AM|    0|     369|ABE|DTW|
|01 07 05:25 PM|    0|     602|ABE|ATL|
|01 07 12:30 PM|    0|     369|ABE|DTW|
|01 07 06:25 AM|    0|     602|ABE|ATL|
|01 07 12:19 PM|    0|     569|ABE|ORD|
|01 08 06:00 AM|    0|     369|ABE|DTW|
+--------------+-----+--------+---+---+
only showing top 20 rows

### In the Vertix DataFrame:
- Rename the <b>IATA</b> columns to become <b>id</b>.

In [ ]:
Vertix_df3 = Vertix_df2.withColumnRenamed('IATA','id')
Vertix_df3.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- id: string (nullable = true)

### Create GraphFrame from Vertix and Edges DataFrames

In [ ]:
# Create a GraphFrame
gf = GraphFrame(Vertix_df3,Edge_df3)

In [ ]:
gf.vertices.show()
gf.edges.show()

+--------------+-------+-------+---+
|          City|  State|Country| id|
+--------------+-------+-------+---+
|    Clarksburg|     WV|    USA|CKB|
|    Fort Dodge|     IA|    USA|FOD|
|       Redmond|     OR|    USA|RDM|
|        Valdez|     AK|    USA|VDZ|
|       Lebanon|     NH|    USA|LEB|
|         Aspen|     CO|    USA|ASE|
| Rouyn-Noranda|     PQ| Canada|YUY|
|       Iqaluit|Nunavut| Canada|YFB|
|       Toronto|     ON| Canada|YYZ|
|    Dillingham|     AK|    USA|DLG|
|   Fort Nelson|     BC| Canada|YYE|
|      Pellston|     MI|    USA|PLN|
|     St. Cloud|     MN|    USA|STC|
|St. Petersburg|     FL|    USA|PIE|
|    Great Bend|     KS|    USA|GBD|
|          Hilo|     HI|    USA|Big|
|       Kelowna|     BC| Canada|YLW|
|       Bemidji|     MN|    USA|BJI|
|        London|     ON| Canada|YXU|
|      Longview|     TX|    USA|GGG|
+--------------+-------+-------+---+
only showing top 20 rows

+--------------+-----+--------+---+---+
|        tripid|delay|distance|src|dst|
+--------------+-----+--------+---+---+
|01 01 12:45 PM|    6|     602|ABE|ATL|
|01 02 06:00 AM|   -8|     369|ABE|DTW|
|01 02 12:45 PM|   -2|     602|ABE|ATL|
|01 02 06:05 AM|   -4|     602|ABE|ATL|
|01 03 12:45 PM|   -4|     602|ABE|ATL|
|01 03 06:05 AM|    0|     602|ABE|ATL|
|01 04 12:43 PM|   10|     602|ABE|ATL|
|01 04 06:05 AM|   28|     602|ABE|ATL|
|01 05 12:45 PM|   88|     602|ABE|ATL|
|01 05 06:05 AM|    9|     602|ABE|ATL|
|01 06 12:15 PM|   -6|     602|ABE|ATL|
|01 06 05:25 PM|   69|     602|ABE|ATL|
|01 06 12:30 PM|    0|     369|ABE|DTW|
|01 06 06:25 AM|   -3|     602|ABE|ATL|
|01 07 06:00 AM|    0|     369|ABE|DTW|
|01 07 05:25 PM|    0|     602|ABE|ATL|
|01 07 12:30 PM|    0|     369|ABE|DTW|
|01 07 06:25 AM|    0|     602|ABE|ATL|
|01 07 12:19 PM|    0|     569|ABE|ORD|
|01 08 06:00 AM|    0|     369|ABE|DTW|
+--------------+-----+--------+---+---+
only showing top 20 rows

### Determine the number of airports

In [ ]:
# count vertices  'the number of airports'
gf.vertices.count()

526

### Determine the number of trips

In [ ]:
gf.edges.count()

1391578

### What is the longest delay?

In [ ]:
gf.edges.createOrReplaceTempView("trips")
logestdelay = spark.sql('select * from trips where delay = (select MAX(delay) from trips)')
logestdelay.show()

+--------------+-----+--------+---+---+
|        tripid|delay|distance|src|dst|
+--------------+-----+--------+---+---+
|01 09 06:00 AM|  995|     462|SMF|SLC|
+--------------+-----+--------+---+---+

### Find out the number of delayed flights vs. early flights (flights that departed before actual time)

In [ ]:
spark.sql('select count(delay) as delayed_flights from trips where delay > 0').show()
spark.sql('select count(delay) as early_flights from trips where delay < 0').show()
# trips = gf.edges
# trips.select(F.count(F.col('delay').when(F.col('delay')>0))).show()

+---------------+
|delayed_flights|
+---------------+
|         591727|
+---------------+

+-------------+
|early_flights|
+-------------+
|       668729|
+-------------+

### What flight destinations departing SFO are most likely to have significant delays? Select the top 10
#### Hint: you should get the average delay for each destination for trips that depart from SFO only

In [ ]:
spark.sql('select dst, avg(delay) avg_delay from trips where src = "SFO" group by dst order by avg_delay desc LIMIT 10 ').show()

+---+------------------+
|dst|         avg_delay|
+---+------------------+
|JAC| 30.78846153846154|
|OKC|24.822222222222223|
|SUN|22.696629213483146|
|COS| 22.58888888888889|
|SAT|             22.16|
|STL|         20.203125|
|HNL|19.982608695652175|
|ASE|19.846153846153847|
|CEC|19.089820359281436|
|MDW|18.771929824561404|
+---+------------------+

### Find the Incoming connections to the airport sorted in Desc. order.

In [ ]:
gf.inDegrees.sort(F.col('inDegree').desc()).show()

+---+--------+
| id|inDegree|
+---+--------+
|ATL|   90434|
|DFW|   66050|
|ORD|   61967|
|LAX|   53601|
|DEN|   50921|
|IAH|   42700|
|PHX|   39721|
|SFO|   38988|
|LAS|   32994|
|CLT|   28388|
|MCO|   27959|
|EWR|   27652|
|LGA|   25469|
|BOS|   25360|
|SLC|   25323|
|JFK|   23484|
|DTW|   23310|
|SEA|   23074|
|MSP|   22385|
|MIA|   21805|
+---+--------+
only showing top 20 rows

### Find the Outgoing connections from the airport sorted in Desc. order.

In [ ]:
gf.outDegrees.sort(F.col('outDegree').desc()).show()

+---+---------+
| id|outDegree|
+---+---------+
|ATL|    91484|
|DFW|    68482|
|ORD|    64228|
|LAX|    54086|
|DEN|    53148|
|IAH|    43361|
|PHX|    40155|
|SFO|    39483|
|LAS|    33107|
|CLT|    28402|
|MCO|    28313|
|EWR|    27656|
|SLC|    25868|
|LGA|    25458|
|BOS|    25348|
|MSP|    24031|
|JFK|    23572|
|DTW|    23421|
|SEA|    23078|
|MIA|    21817|
+---+---------+
only showing top 20 rows

### Use motif finding to answer this question: which delays could we blame on SFO?
#### Hint: this practically means that SFO is a transit station

In [ ]:
gf.vertices.select('*').where(F.col('id')=='SFO').show()

+-------------+-----+-------+---+
|         City|State|Country| id|
+-------------+-----+-------+---+
|San Francisco|   CA|    USA|SFO|
+-------------+-----+-------+---+

In [ ]:
gf.find('(v1)-[e1]->(v2); (v2)-[e2]->(v3)').filter('v2.id = "SFO"').filter("e2.delay > 0 and e1.tripid < e2.tripid ").show()

+--------------------+--------------------+--------------------+--------------------+--------------------+
|                  v1|                  e1|                  v2|                  e2|                  v3|
+--------------------+--------------------+--------------------+--------------------+--------------------+
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 01 12:50 PM, ...|[New York, NY, US...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 01 11:30 PM, ...|[Chicago, IL, USA...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 01 12:50 PM, ...|[Los Angeles, CA,...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 02 10:30 PM, ...|[New York, NY, US...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 02 06:00 PM, ...|[Chicago, IL, USA...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 02 05:40 PM, ...|[Los Angeles, CA,...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 02 09:10 PM, ...|[Miami, FL, USA, ...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 02 07:55 AM, ...|[Dallas, TX, USA,...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 02 09:25 AM, ...|[Chicago, IL, USA...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 02 11:30 PM, ...|[Chicago, IL, USA...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 02 06:50 AM, ...|[Dallas, TX, USA,...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 02 11:10 AM, ...|[Chicago, IL, USA...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 02 02:25 PM, ...|[Dallas, TX, USA,...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 02 02:10 PM, ...|[Chicago, IL, USA...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 02 02:45 PM, ...|[Los Angeles, CA,...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 03 10:30 PM, ...|[New York, NY, US...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 03 04:10 PM, ...|[Dallas, TX, USA,...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 03 05:05 PM, ...|[Dallas, TX, USA,...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 03 07:55 AM, ...|[Dallas, TX, USA,...|
|[Albuquerque, NM,...|[01 01 06:00 AM, ...|[San Francisco, C...|[01 03 11:05 AM, ...|[Dallas, TX, USA,...|
+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

### Determine Airport Ranking in Desc. order using PageRank algorithm

In [ ]:
results = gf.pageRank(resetProbability=0.15, tol=0.01)
results.vertices.sort(F.col('pagerank').desc())

In [ ]:
# Run PageRank for a fixed number of iterations.
results2 = gf.pageRank(resetProbability=0.15, maxIter=10)
results2.vertices.select("id", "pagerank").orderBy(F.col('pagerank').desc()).show()
results2.edges.select("src", "dst", "weight").orderBy(F.col('weight').desc()).show()

In [ ]:
# Run PageRank for a fixed number of iterations.
results2 = gf.pageRank(resetProbability=0.15, maxIter=1)
results2.vertices.select("id", "pagerank").orderBy(F.col('pagerank').desc()).show()
# results2.edges.select("src", "dst", "weight").orderBy(F.col('weight').desc()).show()          takes alote time so i Interrupt the cell

+---+------------------+
| id|          pagerank|
+---+------------------+
|ATL| 62.28632839654944|
|ORD| 44.06337647956202|
|DFW| 42.41461834274054|
|DEN|24.566899524251205|
|SLC|21.399649807268702|
|IAH| 18.31010223532025|
|SFO|15.130986857018405|
|LAX|13.163274344786952|
|DTW| 8.684035246961647|
|MSP| 8.486961797527416|
|PHX| 8.462238857908057|
|ANC| 8.200096614014138|
|MCO| 5.868513524955862|
|BWI|  5.31626303947443|
|EWR| 5.278279094524584|
|LAS| 5.148502278654028|
|SEA| 4.977235527650165|
|LGA| 4.853188467143118|
|CLT| 4.183169450963169|
|JFK|  4.15166113414868|
+---+------------------+
only showing top 20 rows

KeyboardInterrupt: ignored

## Determine the most popular flights (single city hops)

### Find and Save a Subragph that obtained from the following pattern:
#### The flight starts from an airport and return back to the same airport through 2 other airports.

In [ ]:
m5 = gf.find('(v1)-[]->(v2);(v2)-[]->(v3);(v3)-[]->(v4)').filter('v1.id == v4.id')
m5.show()                   # it takes more than 1 hour so i Interrupt the cell :)

In [ ]:
results = gf.triangleCount()
results.select("id", "count").show(2)

In [ ]:
# Save vertices and edges as Parquet to some location.
gf.vertices.write.parquet("vertices")
gf.edges.write.parquet("edges")